# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Visual Studio
.vscode/
.vs/
*.suo
*.user
*.sln.docstates
*.dll
*.exe
*.pdb
*.idb
*.obj
*.ilk
*.aps
*.ipch
*.pch
*.ncb
*.sdf
*.opensdf
*.cachefile
*.vc.db
*.db
*.obj
*.log
*.tlog
*.lastbuildstate
*.sbr
ipch/
[Bb]in/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
md/
ip/

